
<div class="btn-group">
  <%= link_to "Novi Artikl", articles_new_path, class: "btn btn-success" %>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Uvezi CSV", import_view_path %></li>

  </ul>
</div>

<%= link_to "Grafički pogled", articles_gallery_path, class: "btn btn-default pull-right RbtnMargin" %> <%= link_to "Aukcije", index_auction_path, class: "btn btn-default pull-right RbtnMargin" %> <%= link_to "Kompleti", complements_path, class: "btn btn-default pull-right" %>
<div class="page-header head-page">
  <h1>Artikli</h1>
</div>


<%= form_tag batch_actions_path, :method => :put do |f| %>

 <div style="margin-bottom: 5px;" >

    <div class="dropdown" >
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 105px;">
        Opcije
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">

        <li><a><%= submit_tag "Postavi popust", style: "background: white;" %></a></li>
        <li><a><%= submit_tag "Makni sa popusta", style: "background: white;" %></a></li>
        <li role="separator" class="divider"></li>
        <li><a><%= submit_tag "Stavi na Aukciju", style: "background: white;" %></a></li>
        <li role="separator" class="divider"></li>
        <li><a><%= submit_tag "Uredi odabrane artikle", style: "background: white;"  %></a></li>
        <li role="separator" class="divider"></li>
        <li><a><%= submit_tag "Stavi na prodaju", style: "background: white;"  %></a></li>
        <li><a><%= submit_tag "Makni sa prodaje", style: "background: white;"  %></a></li>
        <li role="separator" class="divider"></li>
        <li><a><%= submit_tag "Stavi u Izdvojene artikle", style: "background: white;"  %></a></li>
        <li><a><%= submit_tag "Makni iz Izdvojenih artikla", style: "background: white;"  %></a></li>

      </ul>

      <%= submit_tag "Izbriši artikle",data: { confirm: 'Jeste li sigurni da želite obrisati odabrane artikle?' }, class: "btn btn-danger"%>
    </div>

 </div>

    <%= render partial: 'articles/articles_grid' %>

<% end %>


