<div class="page-header head-page">
  <h1>Novi Banner</h1>
</div>

<%= simple_form_for @banner, html: {multipart: true} do |f| %>

    <%= f.input :title, label: "Naziv" %>

    <%= f.input :image, as: :file %>

    <%= f.input :order, as: :hidden, input_html: { :value => @max_order }%>

    <div class="input-group" style="margin-bottom: 10px; margin-top: 30px;">
      <span class="input-group-addon">
         <%= f.check_box :active, label: "Postavi na prodaju", type: "checkbox" %>
      </span>
      <%= f.label "Aktivan?", type: "text", class: "form-control" %>
    </div>

    <%= f.button :submit, "Dodaj Banner" ,class: "btn btn-success" %>

    <%= link_to "Cancel", home_banners_index_path, class: "btn btn-danger" %>

<% end %>