<%= link_to "Uredi Boju", colors_edit_path(@color.id), class: "btn btn-primary" %> <%= link_to 'Delete',  @color,  method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %> <%= link_to "Sve Boje", colors_path, class: "btn btn-default pull-right" %>
<div class="page-header head-page">
  <h1><%= @color.title %><% if @color.title_eng != nil %> <small><%= @color.title_eng %></small><% end %></h1>
</div>

<!--<div style="margin-bottom: 15px;" >
<% if !@color.avatar_file_name.nil? %>
    <%= image_tag(@color.avatar.url(:thumb)) %>
<% else %>
    <%= image_tag('placeholder.png') %>
<% end %>
</div>-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Artikli</h3>
  </div>
  <ul class="list-group">
    <% if !@color.articles.empty? %>
      <% @color.articles.each do |art| %>
          <%= link_to art.title, article_path(art.id), class:'list-group-item', method: :get %>
      <% end %>
    <% end %>
  </ul>
</div>
