<%= link_to "Uredi Kategoriju za Repromaterijal", raw_subcategories_edit_path(@ssubcategory.id), class: "btn btn-primary" %> <%= link_to 'Delete',  raw_subcategories_destroy_path(@ssubcategory.id),  method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %> <%= link_to "Sve (Pod)Kategorije za Repromaterijal", raw_categories_path, class: "btn btn-default pull-right" %>
<div class="page-header head-page">
  <h1><%= @ssubcategory.title %><% if @ssubcategory.title_eng != nil %> <small><%= @ssubcategory.title_eng %></small><% end %></h1>
</div>

<div style="margin-bottom: 15px;" >
  <% if !@ssubcategory.avatar_file_name.nil? %>
      <%= image_tag(@ssubcategory.avatar.url(:thumb)) %>
  <% else %>
      <%= image_tag('placeholder.png') %>
  <% end %>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kategorije</h3>
  </div>
  <ul class="list-group">
    <% @ssubcategory.subcategories.each do |cat| %>
        <%= link_to cat.id.to_s+". "+cat.title, raw_categories_show_path(cat.id), class:"list-group-item" %>
    <% end %>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Artikli</h3>
  </div>
  <ul class="list-group">
    <% @ssubcategory.articles.each do |art| %>
        <%= link_to art.title, article_path(art.id), method: :get ,class:"list-group-item"  %>
    <% end %>
  </ul>
</div>