<h3>Nova Kategorija</h3>

<%= simple_form_for @category,  html: {class: 'form-horizontal'} do |f| %>
    <%= f.input :title, label: "Naziv" %>

    <%= f.input :title_eng, label: "Naziv na Engleskom" %>

    <%= f.input :avatar, label: "Slika" , as: :file %>

    <%= f.label "Materijali" %>
    <%= f.association :materials, label: false, collection: Material.all, multiple: true, :include_blank => true, :input_html => {class: 'chosen-select'} %>
    <%= f.button :submit, "Izradi kategoriju", class: "btn btn-success" %>
    <%= link_to "Cancel", categories_path, class: "btn btn-default" %>

<% end %>