<!DOCTYPE html>

<html>



<head>
  <%= include_gon %>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', 'bootstrap', 'simple-sidebar', 'bootstrap-chosen','wice_grid', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8"/>
  <title>AV | <%= @page_title ? @page_title : 'Admin' %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">


  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand my-brand" href="#">Argentum Vita</a>

    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse js--msr" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
      </ul>


      <div class="nav navbar-nav navbar-left js--msr" >
        <a class="menu-slide-left js--msr-icon" id="menu-toggle" ><i class="ion-navicon-round"></i> </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><%= link_to "Novi Admin User", sign_up_path %></li>-->
        <li><%= link_to "Sign out", destroy_admin_user_session_path, :method => :delete %></li>

      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>


<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" methods="get">

        </a>
      </li>
      <li class="<%= params[:controller] == 'dashboards' ? 'selected-menu' : '' %>">
        <%= link_to "Dashboard", dashboards_path %>
      </li>
      <li class="<%= params[:controller] == 'purchases' ? 'selected-menu' : '' %>">
        <%= link_to "Prodaje", purchases_path %>
      </li>
      <li class="<%= params[:controller] == 'articles' && params[:action] == 'index' ? 'selected-menu' : '' %>">
        <%= link_to "Artikli", articles_index_path %>
      </li>
      <li class="<%= params[:controller] == 'articles' && params[:action] == 'raw_index' ? 'selected-menu' : '' %>">
        <%= link_to "Repromaterijal", raw_index_path %>
      </li>
      <li class="<%= params[:controller] == 'materials' ? 'selected-menu' : '' %>">
        <%= link_to "Materijali", materials_index_path %>
      </li>
      <li class="<%= params[:controller] == 'categories' ? 'selected-menu' : '' %>">
        <%= link_to "Kategorije", categories_index_path %>
      </li>
      <li class="<%= params[:controller] == 'colors' ? 'selected-menu' : '' %>">
      <%= link_to "Boje", colors_index_path %>
      </li>
      <li class="<%= params[:controller] == 'types' ? 'selected-menu' : '' %>">
      <%= link_to "Tipovi", types_index_path %>
      </li>
      <li class="<%= params[:controller] == 'users' ? 'selected-menu' : '' %>">
      <%= link_to "Korisnici", users_index_path %>
      </li>
      <li class="<%= params[:controller] == 'coupons' ? 'selected-menu' : '' %>">
        <%= link_to "Kuponi", coupons_path %>
      </li>
      <li class="<%= params[:controller] == 'home_banners' || params[:controller] == 'shop_banners' ? 'selected-menu' : '' %>">
        <%= link_to "Banners", home_banners_path, :method => :get %>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" style="padding-top: 70px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <%= yield %>


        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });



</script>





</body>
</html>
