<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>





  <%= stylesheet_link_tag    'style', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8"/>



</head>

<body>

<body class="align">

<div class="site__container">

  <div class="grid__container">

    <form action="" method="post" class="form form--login">

      <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>

        <%= yield %>

    </form>



  </div>

</div>





</body>





</body>
</html>
